@import '../../colors.module.scss';

@keyframes fadeIn {
  to {
    opacity: 1;
    min-height:300px;
  }
}

.container {
  margin:10px;
}
.header{
  background-color: $secondary-bg-color;
  padding:5px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid $primary-bg-color;
  text-transform: uppercase;
  position: relative;
  display:flex;
  height:40px;
  display:flex;
  align-items: center;
}
.arrowIcon{
  margin-right: 20px;
  margin-left: 5px;
}
.body{
  background-color: $secondary-bg-color;
  opacity: 0;
  animation: fadeIn .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
