@import '../../colors.module.scss';

@mixin btn {
  width: 100%;
  border:none;
  height: 30px;
  margin-top:3px;
  cursor:pointer;
  font-size: 14px;
  transition: .2s;
}
.container {
  width: 100%;
  display: flex;
}

.button {
  @include btn;
  background: $primary-bg-color;
}
.buttonSelected {
  @include btn;
  background: $text-highlight;
  color:white;
  outline: $outline;
  letter-spacing: 1px;
  font-weight:600;
}