@import '../../colors.module.scss';
@import '../../global.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
}
.valueContainer {
  display:flex;
  flex-direction: column;
  max-width:100%;
  justify-content: center;
  align-items:center;
  padding-bottom:20px;
}

.valueBoxes {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: row;
  width: 100%;
  max-width:1000px;
}
.switchContainer {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 17px;
  padding:10px 0px;
  padding-left:10px;
}
.switchText {
  margin-left:10px;
  @include label;
}

.singleContainer {
  width:100%;
  max-width:1000px;
}
.doubleContainer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  max-width:1000px;
}
.tooltip {
  text-align: left;
  line-height:30px;
}

@media only screen and (max-width: 860px) {
  .valueBoxes {
    flex-wrap:wrap;
  }
}
