@import '../../colors.module.scss';

@keyframes fadeIn {
  to {color: rgba(0,0,0,1)}
}
@mixin cont {
  margin: 2px 5px;
  width:100%;
  background: $secondary-bg-color;
  max-width: 300px;
}
.container {
  @include cont;
}
.halfcontainer {
  @include cont;
  width: 45%;
}
.box_title {
  padding:5px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid $border-primary;
  text-transform: uppercase;
  position: relative;
  display:flex;
}
.box_subValue {
  padding:5px;
  font-size: 17px;
  text-align: left;
  color: rgba(0,0,0,0);
  animation: fadeIn .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.box_value {
  padding:5px;
  text-align: left;
  font-size: 25px;
  font-weight:500;
  color: $text-highlight
}

.box_qm {
  cursor:pointer;
  position: absolute;
  right: 5px;
  top: 3px;
  color: #525252;
  background: transparent;
  border: none;
}

.box_arrow {
  margin-right: 5px;
}
