@import '../../colors.module.scss';

//main
.container {
  width: 400px;
  height:100vh;
  background: $primary-color;
  border-right: 1px solid $border-primary;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
}

//buttons
@mixin buttons {
  min-width: 90px;
  height:30px;
  border: none;
  margin-right:4px;
  outline-color: $outline;
  cursor: pointer;
  transition: .1s;
  color:white;
  background: $highlight-color;
  // &:not([disabled]):hover {
  //   background: $highlight-hover;
  // }
}
.buttonPrimary {
  @include buttons;
  margin-top: 30px;
  width:100%;
  height:40px;
  margin-right: 0px;
}
.btnContainer {
  margin:10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}
.btn {
  @include buttons;
  margin-bottom: 10px;
}
.activeBtn {
  @include buttons;
  border: 1px solid $highlight-color;
  background: white;
  color: $highlight-color;
  margin-bottom: 10px;
}
// .activeBtn:hover{color:white;}

//headings
h2 {
  margin:0px;
  padding:0px 0px 0px 20px;
  font-weight: 500;
}
.heading2 {
  text-align:left;
  width:100%;
  margin: 20px 0px;
  border-bottom: 1px solid $border-primary
}
.spanTitle {
  font-size: 16px;
  font-weight: 400;
  color: $highlight-color
}
//inputs
$inputHeight: 30px;

.inputContainer {
  margin:10px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
  min-height: $inputHeight * 5;
}
.label {
  color: grey;
  font-size: 12px;
  margin-bottom:3px;
}
.input{
  width: 45%;
  min-width:150px;
  margin-left:10px;
}
.textinput {
  height: $inputHeight;
  width:100%;
  border: 1px solid $border-secondary;
  background:white;
  outline-color: $outline;
}
