@import "./colors.module.scss";

@mixin label{
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-subtle;
}

$border-radius: 4px;
$box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
